* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 80%;
  height: 500px;
  border: 1px solid #333;
  border-bottom: 12px solid #4E3B31;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.player {
  width: 150px;
  position: absolute;
  bottom: -15px;
}

.cloudsMinor {
  position: absolute;
  bottom: 290px;
  width: 180px;
  right: -181px;
  animation: cloud-animation 11.4s infinite linear 2.2s;
}
.clouds {
  position: absolute;
  width: 250px;
  animation: cloud-animation 20s infinite linear;
}

.arvore1 {
  position: absolute;
  width: 200px;
  bottom: -1px;
  right: -240px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore1-animation 8s 1 linear -0.9s;
}

.arvore2 {
  position: absolute;
  width: 200px;
  bottom: -1px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore1-animation 8s 1 linear 6s;
}

.arvore4 {
  position: absolute;
  width: 125px;
  bottom: -1px;
  right: -300px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore4-animation 11s 1 linear 32s;
}

.arvore5 {
  position: absolute;
  width: 150px;
  bottom: -1px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore5-animation 12s 2 linear 15.6s;

}

.arvore6 {
  position: absolute;
  width: 100px;
  bottom: -1px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore6-animation 13s 2 linear 14s;
}

.arvore7 {
  position: absolute;
  width: 195px;
  bottom: -1px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore5-animation 13s 1 linear 32.3s;
}

.casa1 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 9s  linear -3.5s;
}

.casa2 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 9s 1 linear 4.5s;
}

.casa3 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 9s 1 linear 3s;
}

.casa4 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 12s 1 linear 19s;
}

.casa5 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 12s 1 linear 21s;
}

.casa6 {
  position: absolute;
  width: 320px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 12s 1 linear 27s;
}

.casa7 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 12s 1 linear 30s;
}

.casa8 {
  position: absolute;
  width: 300px;
  bottom: -5px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 12s 1 linear 32s;
}

.arvoreCasa8 {
  position: absolute;
  width: 110px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 11s 1 linear 31.7s;
}

.casa9 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 12s 1 linear 41.5s;
}
.casa10 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -370px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 12s 1 linear 43.5s;
}
.casa11 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -370px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 12s 1 linear 46.5s;
}
.casa12 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -352px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 12s 1 linear 48.5s;
}

.casa13 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14s 1 linear 60s;
}
.casa14 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14s 1 linear 62.4s;
}
.casa15 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14s 1 linear 64s;
}
.casa16 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14s 1 linear 67s;
}
.casa17 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14s 1 linear 79s;
}
.casa18 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14s 1 linear 81.8s;
}
.casa19 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14s 1 linear 84s;
}

.casa20 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14s 1 linear 86.2s;
}

.casa21 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14s 1 linear 89s;
}

.opala {
  position: absolute;
  width: 240px;
  bottom: -314px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(9.5cm) rotateX(10deg) rotateY(6deg);
   animation: towels-animation 10s 1 linear 7.6s;
}

.bauInicial {
  position: absolute;
  width: 680px;
  bottom: -229px;
  right: -711px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(21deg) rotateY(-4deg);
  animation: casa1-animation 8.4s 1 linear 7.8s;
}

.dog14irmaos {
  position: absolute;
  width: 300px;
  bottom: -40px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(5deg) rotateY(6deg);
  animation: casa1-animation 12s 1 linear 24s;
}

.dogNPC {
  position: absolute;
  width: 52px;
  right: -63px;
  bottom: -43px;
  transform-style: preserve-3d;
  transform: perspective(4.5cm) rotateX(15deg) rotateY(-2deg);
  animation: casa1-animation 12.3s 1 linear 21.7s;
}

.dogNPC1 {
  position: absolute;
  width: 65px;
  right: -660px;
  bottom: -48px;
  transform-style: preserve-3d;
  transform: perspective(4.5cm) rotateX(15deg) rotateY(-2deg);
  animation: casa1-animation 12.1s 1 linear 21.6s;
}
.dogNPC2 {
  position: absolute;
  width: 65px;
  right: -66px;
  bottom: -48px;
  transform-style: preserve-3d;
  transform: perspective(4.5cm) rotateX(15deg) rotateY(-2deg);
  animation: casa1-animation 12.1s 1 linear 22.1s;
}
.dogNPC3 {
  position: absolute;
  width: 52px;
  right: -63px;
  bottom: -43px;
  transform-style: preserve-3d;
  transform: perspective(4.5cm) rotateX(15deg) rotateY(-2deg);
  animation: casa1-animation 12.3s 1 linear 24.4s;
}

.dogNPC4 {
  position: absolute;
  width: 65px;
  right: -660px;
  bottom: -48px;
  transform-style: preserve-3d;
  transform: perspective(4.5cm) rotateX(15deg) rotateY(-2deg);
  animation: casa1-animation 12.1s 1 linear 24.2s;
}
.dogNPC5 {
  position: absolute;
  width: 65px;
  right: -66px;
  bottom: -48px;
  transform-style: preserve-3d;
  transform: perspective(4.5cm) rotateX(15deg) rotateY(-2deg);
  animation: casa1-animation 12.1s 1 linear 24.4s;
}

.dogNPC6 {
  position: absolute;
  width: 65px;
  right: -66px;
  bottom: -48px;
  transform-style: preserve-3d;
  transform: perspective(4.5cm) rotateX(15deg) rotateY(-2deg);
  animation: casa1-animation 12.1s 1 linear 23.3s;
}

.skatePark {
  position: absolute;
  width: 650px;
  bottom: -30px;
  right: -800px;  
  transform-style: preserve-3d;
  transform: perspective(9.5cm) rotateX(8deg) rotateY(-4deg);
  animation: cantador-animation 10.5s 1 linear 12s;
}

.cantador {
  position: absolute;
  width: 750px;
  bottom: -55px;
  right: -2800px;  
  transform-style: preserve-3d;
  transform: perspective(9.5cm) rotateX(8deg) rotateY(-4deg);
  animation: cantador-animation 12s 1 linear 38s;
}

.caixaDagua {
  position: absolute;
  width: 180px;
  bottom: -1px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: caixaDagua-animation 14.5s 2 linear -3s;
}

.arvoreCaixaDagua {
  position: absolute;
  width: 105px;
  bottom: -1px;
  right: -145px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: caixaDagua-animation 15.1s 1 linear -4.6s;
}
/* Taguá */
.dog50100 {
  position: absolute;
  width: 280px;
  bottom: -40px;
  right: -290px;  
  transform-style: preserve-3d;
  transform: perspective(50cm) rotateX(-10deg) rotateY(1deg);
  animation: casa1-animation 7.5s 1 linear 56.6s;
}

.opalaTagua {
  position: absolute;
  width: 300px;
  bottom: -390px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(10deg) rotateY(6deg);
  animation: casa1-animation 15.5s 1 linear 54.6s;
}

.pracaRelogio {
  position: absolute;
  width: 400px;
  bottom: -1px;
  right: -450px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: pracaRelogio-animation 15.5s 1 linear 53.1s;
}

.towels {
  position: absolute;
  width: 260px;
  right: -320px;
  bottom: -2px;
  transform-style: preserve-3d;
  transform: perspective(5.5cm) rotateX(5deg) rotateY(-1deg);
  animation: towels-animation 11.3s 1 linear 52.6s;
}

.npc1 {
  position: absolute;
  width: 65px;
  right: -320px;
  bottom: -48px;
  transform-style: preserve-3d;
  transform: perspective(4.5cm) rotateX(15deg) rotateY(-2deg);
  animation: towels-animation 10s 1 linear 13.3s;
}
.npc2 {
  position: absolute;
  width: 65px;
  right: -68px;
  bottom: 20px;
  transform-style: preserve-3d;
  transform: perspective(4.5cm) rotateX(15deg) rotateY(-2deg);
  animation: cantador-animation 10.5s 1 linear 9s;
}
.npc3 {
  position: absolute;
  width: 58px;
  right: -320px;
  bottom: -46px;
  transform-style: preserve-3d;
  transform: perspective(4.5cm) rotateX(15deg) rotateY(-2deg);
  animation: towels-animation 10s 1 linear 7.8s;
}

.arvoreNpc3 {
  position: absolute;
  width: 140px;
  bottom: -1px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: towels-animation 10s 1 linear 8.7s;
}

.arvore2Npc3 {
  position: absolute;
  width: 180px;
  bottom: -4px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: towels-animation 12.8s 1 linear 10.6s;
}


/* Recanto */
.emas {
  position: absolute;
  width: 160px;
  bottom: -15px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14s 1 linear 72s;
}

.bau {
  position: absolute;
  width: 520px;
  bottom: -175px;
  right: -730px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 10.6s 1 linear 74.9s;
}

.opalaEmas {
  position: absolute;
  width: 300px;
  bottom: -390px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(10deg) rotateY(6deg);
  animation: casa1-animation 12.1s 1 linear 75s;
}

/* São Sebas */
.morroDaCruz {
  position: absolute;
  width: 600px;
  bottom: -15px;
  right: -640px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(23deg) rotateY(-10deg);
  animation: casa1-animation 12.7s 1 linear 96s;
}

.casa22 {
  position: absolute;
  width: 135px;
  bottom: -4px;
  right: -138px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14.5s 1 linear 90.5s;
}

.casa23 {
  position: absolute;
  width: 80px;
  bottom: -4px;
  right: -85px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14.5s 1 linear 90.9s;
}

.casa24 {
  position: absolute;
  width: 110px;
  bottom: -4px;
  right: -112px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 14.5s 1 linear 91.5s;
}

.casa25 {
  position: absolute;
  width: 215px;
  bottom: -1px;
  right: -301px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 13.8s 1 linear 93.8s;
}

.casa26 {
  position: absolute;
  width: 200px;
  bottom: -4px;
  right: -231px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 13.8s 1 linear 95.3s;
}

.casa27 {
  position: absolute;
  width:240px;
  bottom: -1px;
  right: -341px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 13.8s 1 linear 97s;
}

.casa28 {
  position: absolute;
  width: 135px;
  bottom: -4px;
  right: -138px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 13s 1 linear 94.2s;
}

.casa29 {
  position: absolute;
  width: 80px;
  bottom: -4px;
  right: -85px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 13s 1 linear 95.3s;
}

.casa30 {
  position: absolute;
  width: 110px;
  bottom: -4px;
  right: -112px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 13s 1 linear 96.4s;
}
/* Plano piloto */


.catedralTowels {
  position: absolute;
  width: 280px;
  right: -320px;
  bottom: -2px;
  transform-style: preserve-3d;
  transform: perspective(5.5cm) rotateX(15deg) rotateY(-2deg);
  animation: towels-animation 12s 1 linear 116s;
}

.catedral {
  position: absolute;
  width: 400px;
  bottom: -1px;
  right: -400px;  
  transform-style: preserve-3d;
  transform: perspective(5.5cm) rotateX(15deg) rotateY(-6deg);
  animation: catedral-animation 10s 1 linear 119s;

}

.conic {
  position: absolute;
  width: 400px;
  bottom: -1px;
  right: -400px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: conic-animation 10s 1 linear 128s;
}

.ponteJK {
  position: absolute;
  width: 850px;
  bottom: -38px;
  right: -850px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: ponteJk-animation 12s 1 linear 112s;
}

.ibaneis {
  position: absolute;
  width: 150px;
  bottom: -25px;
  right: -500px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: ibaneis-animation 10s 1 linear 12s;

}

.arvore {
  position: absolute;
  width: 150px;
  bottom: -1px;
  right: -300px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore-animation 9s 3 linear 9s;

}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
  from {
    right: -20PX;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {

  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  65% {
    bottom: 180px;
  }

  100% {
    bottom: 0px;
  }

}

@keyframes cloud-animation {
  from {
    right: -250px;
  }

  to {
    right: 100%;
  }
}

@keyframes towels-animation {
  from {
    right: -450px;
  }

  to {
    right: 100%;
  }
}
@keyframes catedral-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes cantador-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes arvore1-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes arvore2-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes conic-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes pracaRelogio-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes ponteJk-animation {
  from {
    right: -650px;
  }

  to {
    right: 1300px;
  }
}


@keyframes ibaneis-animation {
  from {
    right: -90px;
  }

  to {
    right: 100%;
  }
}

@keyframes arvore4-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes arvore5-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes caixaDagua-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes arvore-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes casa1-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}