* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 80%;
  height: 500px;
  border: 1px solid #333;
  border-bottom: 12px solid #4E3B31;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

.player {
  width: 150px;
  position: absolute;
  bottom: -15px;
}

.clouds {
  position: absolute;
  width: 250px;
  animation: cloud-animation 20s infinite linear;
}

.arvore1 {
  position: absolute;
  width: 150px;
  bottom: -1px;
  right: -140px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore1-animation 8s 2 linear;
}

.arvore2 {
  position: absolute;
  width: 200px;
  bottom: -1px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore1-animation 8s 1 linear 6s;
}

.casa1 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 9s 2 linear;
}

.casa2 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 9s 2 linear 3s;
}

.casa3 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 9s 2 linear 2s;
}

.casa4 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 9s 2 linear 9s;
}

.casa5 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 9s 2 linear 7s;
}

.casa6 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 9s 2 linear 9s;
}

.casa7 {
  position: absolute;
  width: 350px;
  bottom: -1px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: casa1-animation 9s 2 linear 11s;
}

.opala {
  position: absolute;
  width: 300px;
  bottom: -390px;
  right: -440px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(10deg) rotateY(6deg);
  animation: casa1-animation 9s 1 linear 3.8s;
}

.skatePark {
  position: absolute;
  width: 650px;
  bottom: -55px;
  right: -2800px;  
  transform-style: preserve-3d;
  transform: perspective(9.5cm) rotateX(8deg) rotateY(-4deg);
  animation: cantador-animation 12s 1 linear 15s;
}

.cantador {
  position: absolute;
  width: 600px;
  bottom: -55px;
  right: -2800px;  
  transform-style: preserve-3d;
  transform: perspective(9.5cm) rotateX(8deg) rotateY(-4deg);
  animation: cantador-animation 12s 1 linear 22s;
}


.caixaDagua {
  position: absolute;
  width: 180px;
  bottom: -1px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: caixaDagua-animation 14s 1 linear 0s;
}

.arvore5 {
  position: absolute;
  width: 150px;
  bottom: -1px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore5-animation 9s 2 linear 17s;

}

.pracaRelogio {
  position: absolute;
  width: 320px;
  bottom: -1px;
  right: -400px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: pracaRelogio-animation 16s 1 linear 37s;
}


.arvore4 {
  position: absolute;
  width: 125px;
  bottom: -1px;
  right: -300px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore4-animation 14s 2 linear 12s;
}


.arvore6 {
  position: absolute;
  width: 100px;
  bottom: -1px;
  right: -200px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore6-animation 14s 2 linear 14s;
}



.towels {
  position: absolute;
  width: 300px;
  right: -350px;
  bottom: -1px;
  transform-style: preserve-3d;
  transform: perspective(5.5cm) rotateX(15deg) rotateY(-6deg);
  animation: towels-animation 10s 1 linear 15s;
}

.catedral {
  position: absolute;
  width: 400px;
  bottom: -1px;
  right: -400px;  
  transform-style: preserve-3d;
  transform: perspective(5.5cm) rotateX(15deg) rotateY(-6deg);
  animation: catedral-animation 10s 1 linear 15s;

}

.conic {
  position: absolute;
  width: 400px;
  bottom: -1px;
  right: -400px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: conic-animation 10s 1 linear 15s;
}

.ponteJK {
  position: absolute;
  width: 1200px;
  bottom: -38px;
  right: -1200px;  
  transform-style: preserve-3d;
  transform: perspective(7.5cm) rotateX(15deg) rotateY(-6deg);
  animation: ponteJk-animation 8s 1 linear 10s;
}



.ibaneis {
  position: absolute;
  width: 150px;
  bottom: -25px;
  right: -500px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: ibaneis-animation 10s 1 linear 12s;

}

.arvore {
  position: absolute;
  width: 150px;
  bottom: -1px;
  right: -300px;  
  transform-style: preserve-3d;
  transform: perspective(10cm) rotateX(15deg) rotateY(-6deg);
  animation: arvore-animation 9s 3 linear 9s;

}


.jump {
  animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
  from {
    right: -20PX;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {

  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  65% {
    bottom: 180px;
  }

  100% {
    bottom: 0px;
  }

}

@keyframes cloud-animation {
  from {
    right: -250px;
  }

  to {
    right: 100%;
  }
}
@keyframes towels-animation {
  from {
    right: -450px;
  }

  to {
    right: 100%;
  }
}
@keyframes catedral-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes cantador-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes arvore1-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes arvore2-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes conic-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes pracaRelogio-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes ponteJk-animation {
  from {
    right: -650px;
  }

  to {
    right: 1300px;
  }
}


@keyframes ibaneis-animation {
  from {
    right: -90px;
  }

  to {
    right: 100%;
  }
}

@keyframes arvore4-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes arvore5-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes caixaDagua-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes arvore-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}

@keyframes casa1-animation {
  from {
    right: -650px;
  }

  to {
    right: 100%;
  }
}